.Equipment {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

  position: relative;

  main {
    width: 100%;
  }

  aside {
    transition: all .4s;
  }
}

@media only screen and (max-width: 600px) {
  .Equipment {
    flex-direction: column;
  }
}