.Equipo {
  width: 100%;
  max-width: 350px;
  padding: 24px;
  box-sizing: border-box;
  background: #fcfcfc;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  overflow: hidden;
  margin: auto;

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    &__img {
      width: 40%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      box-sizing: border-box;
      background: #fcfcfc;
      box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.08);
      border-radius: 8px;

      img {
        height: 100%;
        padding: 12px;
        box-sizing: border-box;
      }
    }

    &__header {
      &__title {
        font-family: "Rubik", sans-serif;
        font-size: medium;
        color: var(--color-black);
        font-size: 18px;
        margin-bottom: 6px;
      }

      &__ghz {
        margin: 12px 0;
      }

      &__logos {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &__schedule {
    margin-bottom: 24px;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;

      &__title {
        font-family: "DM Sans", sans-serif;
        color: var(--color-black);
        font-weight: bolder;
      }

      &__btns {
        display: flex;
        div {
          padding: 0 12px;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          opacity: 0.5;
          transition: all 0.4s;
        }

        div:first-child {
          transform: rotate(180deg);
        }
        div:hover {
          opacity: 1;
        }
      }
    }

    &__body {
      width: 100%;
      position: relative;
      scroll-behavior: smooth;

      section {
        scroll-behavior: smooth;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        width: 100%;
        position: static;
        top: 0;
        left: 0;
      }
    }
  }

  & > button {
    background: #f0f0f0;
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 12px 0;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--color-black);
    font-weight: 500;
    font-size: 18px;
    transition: all 0.4s;
  }

  & > button:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  & > button.selected {
    background-color: #30c5ff;
    color: var(--color-white);
  }
}

.Modal section .Equipo {
  padding: 0;
  margin-top: 12px;
  background: none;
  box-shadow: none;

  &__schedule {
    margin-bottom: 5px;
  }

  &__schedule__header {
    display: none;
  }

  .Equipo__schedule > h3 {
    margin-top: 15px;
  }

  & > h3 {
    margin-bottom: 8px;
  }

  &__schedule__body section > div {
    margin-top: 12px;
    padding: 0;

    p {
      margin-bottom: 8px;
    }
  }
}

.Modal section .Equipo {
  .Equipo__schedule__body section {

    .ScheduleDate {
      min-width: 47%;
      width: 47%;
    }

    .Equipo__proyecto {
      min-width: 47%;
      width: 47%;
      margin-left: 3%;

      h3 {
        margin-bottom: 8px;
      }
  
      span {
        border: solid 1px #d8d8d8;
        border-radius: 8px;
        background-color: var(--color-white);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 12px 10px;
      }
    }
  }
}
